<header>
  <nav class="navbar fixed-top navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/logo.png" alt="" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mb-2 mb-sm-0 w-100 justify-content-between">
          <div></div>
          <form>
            <input class="form-control text-center" type="search" placeholder="Search for your favorite foods!"
              aria-label="FoodSearch">
          </form>
          <div class="d-inline-flex">
            <% if (!locals.userId) { %>
            <a class="btn btn-primary me-2" aria-current="page" href="/login">Login</a>
            <% } else { %>
            <a class="btn btn-primary me-2" aria-current="page" href="/logout">Logout</a>
            <% } %>
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuClickableInside"
                data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Cart
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuClickableInside">
                <div id="cart-items">
                </div>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/order">Checkout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
