<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Shared Libraries -->
  <%- include("partials/head"); %>

  <link rel="stylesheet" href="/styles/main.css" type="text/css"/>
  <!-- Internal JS Libraries -->
  <script type="text/javascript" src="/scripts/index.js"></script>

</head>

<body>

  <%- include("partials/header", locals); %>

  <main>
    <h1>What's on today's menu?</h1>
    <div class="container" id="menu">
    </div>
  </main>

</body>

</html>
