<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <!-- Shared Libraries -->
  <%- include("partials/head"); %>

    <!-- Internal JS libraries -->
    <script type="text/javascript" src="/scripts/login.js"></script>

    <!-- Internal CSS -->
    <link href="styles/login.css" rel="stylesheet">
</head>

<body>

  <main>
    <a href="/"><img src="assets/logo.png"></a>
    <div class="card login-box border border-1 rounded">
      <label class="form-label border-bottom">Sign-In</label>
      <form id="login" class="needs-validation" action="/login" method="POST" novalidate>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="emailInput" required>
          <div class="invalid-feedback">
            Please enter your email
          </div>
        </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="passwordInput" required>
          <div class="invalid-feedback">
            Please enter a password
          </div>
        </div>
        <span id="login-error" class="mb-3"></span>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <a href="/register">Don't have an account? Create an account!</a>
    </div>
  </main>

</body>

</html>
