<!DOCTYPE html>
<html lang="en">

<head>
  <title>Order</title>

  <!-- Shared Libraries -->
  <%- include("partials/head"); %>

  <link rel="stylesheet" href="/styles/order.css" type="text/css" />
  <!-- Internal JS Libraries -->
  <script type="text/javascript" src="/scripts/order.js"></script>

</head>

<body>

  <%- include("partials/header", locals); %>

  <main>
    <div class="cart">
      <div class="card my-5">
        <header class="card-header">
          Order details
        </header>
        <div id="checkout" class="card-body">
        </div>
        <footer class="card-footer">
          <div class="right-aligned">
            <span>
              Sub-Total:
            </span>
            <span>
              Taxes(15%):
            </span>
            <span>
              Total:
            </span>
          </div>
          <div class="vr"></div>
          <div class="right-aligned">
            <span id="subtotal">$0.00</span>
            <span id="taxes">$0.00</span>
            <span id="total">$0.00</span>
          </div>
        </footer>
      </div>
      <aside>
        <div class="card mt-5">
          <header class="card-header">
            Review Order Details
          </header>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5>
                My Location
              </h5>
              <p>Montreal, QC H8Y 2T6</p>
            </li>
            <li class="list-group-item">
              <h5>
                My Store
              </h5>
              <p>
                Store #10690
              </p>
            </li>
            <li class="list-group-item">
              <h5>
                Service Method
              </h5>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" checked>
                <label class="form-check-label" for="flexRadioDisabled">
                  Carryout
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled"
                  disabled>
                <label class="form-check-label" for="flexRadioCheckedDisabled">
                  Delivery
                </label>
              </div>
            </li>
            <li class="list-group-item">
              <h5>
                Order Timing
              </h5>
              <p class="text-muted">
                You will be informed of order availability, via text, upon response from restaurant owner
              </p>
            </li>
          </ul>
        </div>
        <button id="checkoutButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Checkout
        </button>
      </aside>
    </div>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body d-flex flex-column align-items-center">
          <h5>Awaiting order confirmation from BurntCow...</h5>
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
