<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile</title>

  <!-- Shared Libraries -->
  <%- include("partials/head"); %>

</head>

<body>

  <%- include("partials/header", locals); %>

    <main>
      <h1>user</h1>
    </main>

</body>

</html>
