nav {
  form {
    width: 30%;
    min-width: 250px;
  }

  #cart-items {
    max-height: 60vh;
    overflow-y: auto;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    min-width: 400px;

    .left-group {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .right-group {
      display: flex;
      flex-direction: column;

      input {
        width: 2rem;
      }

    }

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      object-fit: cover;
    }


    .item-info {
      display: flex;
      flex-direction: column;
    }

    &:hover {
      background-color: var(--bs-gray-300);
    }
  }
}
