main {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}


article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  div {
    display: flex;
    align-items: center;
  }

  .food-name {
    min-width: 7.5rem;
  }

  img {
    min-width: 200px;
    min-height: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  * {
    margin: 0 1rem;
  }

  button {
    padding: 0.375rem 2rem;
  }
}


@media only screen and (max-width: 1024px) {
  article {
    div {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      width: auto;
    }
  }
}
